# Create a file named .env in the mobile folder.
# Open your terminal, run 'ipconfig' (Windows) or 'ifconfig' (Mac).
# Find your IPv4 Address and replace the IP below with your own.
EXPO_PUBLIC_API_URL=http://YOUR_LOCAL_IP_ADDRESS:3000